/* Starts styling main content */
body {
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #AAD4CF;
}

/* Positions header image with id selector*/
#header-img {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* Psitions h1 centered on image with class selector*/
.site-title {
    position: absolute;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 66px;
    /* text doesnt appear centered, needs to manually position it */
    z-index: 2;
}

/* styles nav list and border with class selector*/
.nav li {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    width: 31%;
    border-right: 1px solid;
}

/* removes last border with class selector */
.nav li:last-child {
    border-right: none;
}

/* Styles current state of nav links */
nav ul a {
    text-decoration: none;
    color: black;
}

/* adds 2nd color background with class selector */
.container {
    background-color: #D4E9E7;
}

/* ajusts position of article */
article {
    margin-top: 5%;
}

/* Styles h2 */
h2 {
    font-size: 32px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* styles and resizes body image with id selector */
#body-img {
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
}

/* Styles paragraph */
p {
    font-size: 16px;
    padding-top: 0;
    font-weight: 600;
    margin: 10px;
}

/* Styles h3 */
h3 {
    font-size: 28px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 0%;
}

/* Styles facts list with class selector */
.facts-list {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

/* Styles facts list with class selector */
.facts-list li {
    margin-left: -10px;
}

/* Styles h4 */
h4 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* Styles the box containing contact info */
fieldset {
    margin: 10px;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Styles form labels */
label {
    font-size: 18px;
    font-weight: 600;
}

/* style form inputs */
input {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 15px;

}

/* Styles text area for message */
textarea {
    width: 98%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* styles h5 */
h5 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Styles radio button's labels */
#yes, #no, #maybe {
    display: inline-block;
    width: 20px;
}

/* Styles send button */
button {
    margin-top: 10px;
    font-size: 10px;
    box-sizing: border-box;
    border-width: 1px;
    background-color: #D4E9E7;
    height: 40px;
    width: 50px;

}

/* Positions footer */
footer {
    margin-left: 85%;
    padding: 20px;
}