body {
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AAD4CF;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 42px;
    padding: 120px;
    text-align: center;
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav li {
    text-align: center;
    margin: 80px;
    font-size: 24px;
    font-weight: 500;
    list-style: none;
    display: inline;
}

.container {
    background-color: #D4E9E7;
    padding: 15px;
}

article {
    margin-top: 5%;
}

