body {
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #AAD4CF;
}

#header-img {
    position: absolute;
    top: 0;
    left: 22%;
    width: 56%;
    z-index: 1;
}

.site-title {
    color: white;
    font-weight: 400;
    font-size: 72px;
    padding: 60px;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

.nav li {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    width: 30%;
    margin-top: 20px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.container {
    background-color: #D4E9E7;
    padding: 15px;
}

article {
    margin-top: 5%;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

#body-img {
    width: 250px;
    height: 250px;
    float: left;
    padding-right: 20px;
}

