/* Starts css stylesheet */
/* Styling mobile first */

.body {
    font-family: 'Open Sans', sans-serif;
}

.card-nav {
    background-color: #222;
}

.card-nav {
    margin: 0 auto;
    padding: 10px;
}

.logo {
    background-color: #c78c06;  
}

.nav-list a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.nav-list {
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.nav-list li a {
    color: #c78c06;
    font-size: 18px;
    padding: 20px;
}

.nav-list li a:hover {
    color: #222;
    background-color: #c78c06;
}

.nav-list li a:active {
    color: #222;
    background-color: #c78c06;
}

.search {
    display: grid;
    justify-content: center;
}

.text {
    padding: 10px;
    width: 400px;
}

.button {
    box-sizing: border-box;
    border-width: 1px;
    border-color: #c78c06;
    background-color: #222;
    height: 40px;
    width: 40px;
}

.fa-solid {
    color: #c78c06;
    font-size: 20px;
}

.welcome {
    margin: 0;
    padding: 0;
    background: url(../images/main-banner.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    align-items: center;
    justify-content: center;
}

h1, p, .connect {
    text-align: left;
}

h1 {
    font-size: 60px;
    color: white;
}

.banner {   
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 100%;
    max-height: 500px;
}

.connect-us {
    margin-top: 20px; /* Adjust as needed */
}

.connect {
    display: inline-block;
    padding: 20px 30px;
    background-color: #c78c06; 
    color: #222;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
}

.fas {
    padding: 10px;
    font-size: 30px;
}

.about-card {
    background-color: #ffe6ac;
    margin: 0 auto;
    padding: 0;
}

.img-a {
    width: 95%;
    margin: 0;
    padding: 10px;
    margin-right: 10px;
}

h2, p {
    margin-left: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #222;
}

p {
    padding-bottom: 20px;
    margin-right: 10px;
    font-size: 18px;
    color: #222;
}

.card {
    margin: 0 auto;
    width: 100%;
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

.img {
    width: 100%;
}

.a-li {
    margin: 10px;
    display: inline-block;
    padding: 20px 30px;
    background-color: #222; 
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h3 {
    padding: 10px;
    font-size: 24px;
    color: #222;
}

.vision-banner {
    margin: 0 auto;
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 55%;
    padding: 0;
    height: 350px;
}

.v-banner {
    color: white;
    padding: 10px;
}

.white {
    color: white;
}

.learn {
    margin: 10px;
    display: inline-block;
    padding: 20px 30px;
    border: solid 1px #c78c06;
    background-color: #222; 
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.team-cards {
    margin: 0 auto;
    width: 100%;
    background-color: #ffe6ac;
    margin-bottom: 10px;
    justify-content: center;
}

h4 {
    padding-bottom: 10px;
    border-bottom: solid 2px #c78c06;
    margin: 10px;
    color: #222;
}

#john,
#bob {
    width: 100%;
}

fieldset {
    margin: 10px;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Styles form labels */
label {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

/* style form inputs */
input {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 15px;

}

/* Styles text area for message */
textarea {
    width: 98%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* styles h5 */
h5 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
    color: #222;
}

/* Styles radio button's labels */
#yes, #no, #maybe {
    display: inline-block;
    width: 20px;
}

/* Styles send button */
button {
    margin-top: 10px;
    font-size: 24px;
    box-sizing: border-box;
    background-color: #222;
    height: 40px;
    width: 70px;
    color: #c78c06;
}

.form {
    padding: 10px;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    border: 1px solid #222;
    width: 50%;
    padding: 20px;
    text-align: left;
}

th {
    background-color: #ffe6ac;
}

.footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #222;
}

.footer-li {
    list-style: none;
    text-align: left;
    color: #c78c06;
}

.copy {
    color: #c78c06;
    font-size: 16px;
    font-weight: 300;
}

@media screen and (min-width: 760px ) {
    .nav-list li {
        display: inline-block;
        justify-content: space-evenly;
        text-align: center;
        padding: 20px;
    }

    .search {
        padding: 20px;
    }

    .card-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 40px;
    }

    .nav {
        background-color: #222;
    }

    h1 {
        font-size: 100px;
        padding: 20px;
    }

    .welcome {
        margin: 0;
        padding: 0;
        background: url(../images/main-banner.jpg);
        background-size: cover;
        height: 1000px;
        background-position: 50%;
        align-items: center;
        justify-content: center;
    }

    .banner {   
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        max-width: 100%;
        max-height: 800px;
        margin: 50px;
        margin-top: 0;
        padding: 50px;
    }

    .about-us {
        padding: 10px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .img-about {
        width: 500px;
        height: 250px;
    }
    
    .about-card {
        width: 100%; 
        overflow: hidden;
    }
      
    .img-about {
        float: left;        
        box-sizing: border-box;
        margin-top: 20px;
    }
      
    .us-text {
        float: left;
        width: 60%; 
        box-sizing: border-box; 
    }
      
    .img-a {
        max-width: 100%;
    }

    .our-services {
        padding: 80px;
        padding-top: 30px;
        justify-content: center;
    } 

    .cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 10px;
        margin: 10px;
        grid-template-areas: 
        "services services services marketing marketing marketing"
        "video video web web print print";
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .services {
        grid-area: services;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }

    .card {
        background-color: #ffe6ac;
        justify-content: space-between;
    }

    .our-team {
        margin: 100px;
        margin-top: 0;
    }

    .teamc {
        background-color: #ffe6ac;
        
    }
 
    .cardss {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .card-1 {
        display: flex;
        flex-direction: row;
    }

    .card-2 {
        display: flex;
        flex-direction: row-reverse;
    }


    #john {
        width: 100%;
    }
    #ceo {
        width: 100%;
    }

    #cfo {
        width: 100%;
    }

    #bob {
        width: 100%;
    }

    #contact {
        margin-left: 100px;
    }

    .contact-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "message location" "hours hours";
        margin-left: 95px;
        margin-right: 100px;
    }

    .message { 
        grid-area: message;
    }

    .location {
        grid-area: location;
    }

    .table-hours {
        grid-area: hours;
    }

    iframe {
        width: 100%;
    }

    .copy {
        margin-left: 100px;
    }

    .footer-li {
        margin-left: 65px;
    }





    
    

    
















    
}